/* Global Styles for page */
html {
    background-color: rgb(195, 247, 195);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for the text sections */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.yourRecentScore {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    text-align:center;
}

.highScoreListStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topScores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the button */
.playAgain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 20px;
    font-size: 18px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;    
}